<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PSU COVID-19 Tracker</title>
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    </style>
    <link rel="stylesheet" href="https://js.arcgis.com/4.16/esri/themes/light/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/map.css">
    <script src="https://js.arcgis.com/4.16/"></script>
    <script src="/static/js/map.js"></script>
</head>
<body>
    <div>
        <h1>PSU COVID-19 Tracker</h1>
        <h2>SWENG894 - Fall 2020</h2>
        <h3>Team 4</h3>
    </div>
    <hr>
    {% block content %}
    {% endblock %}
    <br>
    <br>
    <br>
    <br>
    <div>{{ timestamp }}</div>
</body>
</html>